.x-tree-icon { display: none !important; }

.patient_episode_table {
	width: 80%;
	border-collapse: collapse;
}
.patient_episode_table td {
    border: 1px solid #ddd;
    padding: 3px;
}
.label_td{
	background-color: #4CAF50;
}
.triageGcs td{
	border: 1px solid #ddd;
    padding: 3px;
}
/*.patient_episode_table tr:nth-child(even){background-color: #f2f2f2;}*/

.dropTargetUserCustomizedDiv {
	background:green;
    height: 100%;
    width: 100%;

    right: 0;
    top: 0;

}